<h2>Add an item to your grocery list!</h2>

<%# Form to create a new item %>
<form method="POST" action="/items">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Quantity:</label>
  <input type="text" name="quantity">
  
  <input type="submit" value="submit">
</form>